/* src/styles/custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

  
html, body {
    overscroll-behavior: none; /* Prevent pull-to-refresh */
    touch-action: pan-y; /* Allow vertical scrolling */
    height: 100%;
    overflow: hidden; /* Prevent unwanted scrolling */
  }
  
  #root {
    height: 100vh;
    overflow-y: auto; /* Enable scrolling inside the app */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }
  