/* src/styles/custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overscroll-behavior: contain;
  }
  

  html, body {
    overscroll-behavior: none;
    touch-action: pan-y; /* Allow vertical scrolling */
    height: 100%;
    overflow: auto; /* Allow scrolling */
  }
  
  